#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
}

.card {
  padding: 2em;
}

header {
  padding: 1rem;
}

header h3 {
  width: 60px;
}

.My Card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  height: 120%;
  padding: 10px;
}

body {
  width: 100wv;
  height: 100vh;
}

.texto1 {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
